<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/vanilla-masker/build/vanilla-masker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Ônibus Faculdade Arcoverde</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <h1>AcadBus</h1>
            <ul>
                <li><a href="/alunos">Estudantes Cadastrados</a></li>
                <li><a href="/alunos/lista-espera">Lista de Espera</a></li>
                <li><a href="/alunos/add">Cadastrar Estudante</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        {{{body}}}
    </div>

    <script src="/js/mask.js"></script>
    <script src="/js/mensagemSucesso.js"></script>
</body>
</html>