* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

header .navbar{
    height: 10vh;    
    background-color: #CACACA;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        padding-left: 40px;
    }

    ul {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;   

        li {
            margin-right: 40px;
            font-size: 16px;
            font-weight: bolder;
            
            a {
                color: #000;
                text-transform: uppercase;

                &:hover {
                    color: #000000ce;
                    text-decoration: underline;
                }
            }
        }
    }
}

/*! HomePage (lista de usuários) */
.alunos-container {
    h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
}

.alunos-buscador {
    padding-top: 20px;
    text-align: center;

    input {
        padding: 12px;
        border: 1px solid #bebcbc;
        border-radius: 6px;
        font-size: 16px;
        transition: border-color 0.3s;
    }

    button {
        padding: 12px;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        background-color: #9ABDD2;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background-color: #85a8bd;
        }
    }
}


/* ! Tabela de dados dos alunos */

.alunos-table-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    margin-bottom: 2.5rem;
    max-width: 1420px;
    margin: 0 auto;
}

.alunos-table-dados {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    thead {
        background-color: linear-gradient(135deg, #3498db, #2980b9);

        th {
            padding: 1rem;
            text-align: left;
            font-weight: bold;
            font-size: 18px;
            background-color: #e9e8e8;
        }
    }

    tbody {
        tr {
            transition: background-color 0.2s;

            &:hover {
                background-color: #f8f9fa;
            }
        }

        td {
            padding: 1rem;
            border-bottom: 1px solid #aeecef;
        }

        #form-btn-delete button{
            background-color: none;
            border: none;
            cursor: pointer;
            font-size: 20px;
        }

        .btn-aluno-edit {
            font-size: 20px;
            color: #1788d3;
        }
    }
}

/* ! Formulário de Cadastrar estudantes */
.form-container-cadastro {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px 25px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    h1 {
        text-align: center;
        margin-bottom: 44px;
        font-size: 36px;
    }
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
        margin-bottom: 5px;
        font-weight: bold;
        color: #000;
        font-size: 18px;
    }

    input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 16px;
        transition: border-color 0.3s;

        &:focus {
            outline: none;
            border-color: #3498db;
            box-shadow: 0 0 4px rgba(52, 152, 219, 0.4);
        }
    }
}

.form-container-cadastro input[type="submit"]{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #3498db;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background-color: #2980b9;
    }
}

/* ! Seach */
.search-container h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

/* ! Container de filtro (mais recentes, mais antigos e total de alunos*/
.filtro-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.filtro-historico {
    .btn-filtro {
        margin-right: 20px;
        color: #000;
        font-size: 18px;
    
        &:hover {
            text-decoration: underline;
        } 
    }
}

.totalAlunos-container{
    font-size: 18px;  
}

/*! Página de ERROR */

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#ffe5e5;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    
    h2 {
        color: #c53030;
        font-size: 34px;
        font-weight: bold;
        padding: 8px;
    }
     
    p {
        color:#e53e3e;
        margin-bottom:1.5rem;
        font-size: 18px;
    }

    button {
        background-color:#e53e3e;
        padding: 10px;
        border-radius: 8px;
        color: #fff;
        border: none;
        font-size: 18px;
        font-weight: 600;
        transition: background-color 0.2s;
        cursor: pointer;
    }
}

/* ! Mensagem de erro cpf duplicado*/

.alert-danger {
    padding-bottom: 14px;
    color: #c53030;
    font-weight: 600;
} 