
<div class="alunos-container">
    <h1>Alunos Registrados: </h1>

    <div class="alunos-buscador">
        <input type="text" placeholder="Buscas por CPF...">
        <button>Buscar</button>
    </div>
</div>