
<form action="/alunos/add" method="post">
    <h1>Cadastrar Alunos: </h1>

    <div class="form-control">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" placeholder="Digite o nome completo">
    </div>

    <div class="form-control">
        <label for="cpf">CPF: </label>
        <input 
        type="text" 
        name="cpf" 
        placeholder="Digite o CPF">
    </div>

    <div class="form-control">
        <label for="telefone">Telefone: </label>
        <input 
        type="text" 
        name="telefone" 
        placeholder="Digite o telefone"
        >
    </div>

    <div class="form-control">
        <label for="curso">Curso: </label>
        <input type="text" name="curso" placeholder="Digite o curso">
    </div>

    <div class="form-control">
        <label for="instituicao">Instituição: </label>
        <input type="text" name="instituicao" placeholder="Digite a instituição">
    </div>

    <input type="submit" value="Cadastrar">

</form>